* {
    font-family: 'Arial';
}

html, body, main {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    .container {
        height: 100%;
        top: 50vw;
        left: 50vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        place-items: center;

        // background-color: white;
        h1 {
            text-align: center;
            padding: 0;
        }

        .parent {
            display: flex;
            flex-direction: column;
            height: 100%;
            align-items: center;
            justify-items: center;

            h2 {
                background-color: rgba(0, 0, 0, 0.25);
                color: black;
                padding: 1em;
                width: max-content;
                border-radius: 1em;
            }

            input {
                font-size: 16px;
                background-color: transparent;
                padding: .7em 1.75em;
                border: 1px solid black;
                border-radius: 1em;

                transition: all 0.5s;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.25);
                }
            }
        
        }
    }
}

#nav-bar {
    display: flex;
    position: absolute;
    width: 100%;
    min-height: 2em;
    height: 3%;
    justify-content: space-around;
    align-items: center;

    font-size: 18px;

    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    list-style: none;
    z-index: 1;

    input {
        padding: 0.5em 1em;
        background-color: transparent;
        border: none;

        font-size: 16px;

        &:hover {

        }
    }
}





